In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')

In [2]:
car=pd.read_csv('data/good_car_data.csv')
car.head()

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,2,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,3,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,4,Ford Figo,Ford,2012,175000,41000,Diesel

In [3]:
car=car[car['Price']<6000000]
car.shape

(815, 7)

In [4]:
X=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [13]:
counts =X['company'].value_counts()
counts

Maruti        221
Hyundai       139
Mahindra       97
Tata           65
Honda          60
Toyota         36
Chevrolet      34
Renault        33
Ford           30
Volkswagen     19
Skoda          13
Audi           11
BMW             8
Mini            8
Datsun          7
Mercedes        6
Mitsubishi      6
Nissan          6
Fiat            4
Force           4
Hindustan       3
Jaguar          2
Jeep            1
Volvo           1
Land            1
Name: company, dtype: int64

In [21]:
company_threshold=10
repl = counts[counts<=company_threshold].index
repl

Index(['BMW', 'Mini', 'Datsun', 'Mercedes', 'Mitsubishi', 'Nissan', 'Fiat',
       'Force', 'Hindustan', 'Jaguar', 'Jeep', 'Volvo', 'Land'],
      dtype='object')

In [22]:
pd.get_dummies(X['company'].replace(repl,'uncommon'))

,Audi,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,0,0,0,0,0,0,1,0,0,0,0,0,0
812,0,0,0,0,0,0,0,0,0,1,0,0,0
813,0,0,0,0,0,0,0,0,0,0,1,0,0
814,0,0,0,0,0,0,0,0,0,1,0,0,0
815,0,0,0,0,0,1,0,0,0,0,0,0,0

In [23]:
X_train['name'].value_counts()

Maruti Suzuki Alto       37
Maruti Suzuki Swift      36
Maruti Suzuki Wagon      23
Hyundai Grand i10        13
Hyundai Elite i20        13
                         ..
Hyundai i10 Era           1
Mahindra Logan Diesel     1
Chevrolet Enjoy 1.4       1
Chevrolet Enjoy           1
Honda Accord              1
Name: name, Length: 235, dtype: int64

In [27]:
name_threshold=7
name_counts = X_train['name'].value_counts()
name_counts_less_than_10 = name_counts[name_counts<name_threshold].index
name_counts_less_than_10

Index(['Mini Cooper S', 'Tata Indigo CS', 'Honda Amaze', 'Tata Sumo Gold',
       'Hyundai Verna Fluidic', 'Hyundai i20 Asta', 'Hyundai i20 Magna',
       'Toyota Innova 2.5', 'Mahindra Quanto C8', 'Chevrolet Beat LS',
       ...
       'Hyundai Verna 1.4', 'Tata Zest Quadrajet', 'Hyundai Xcent Base',
       'Tata Tigor Revotron', 'Tata Indigo Marina', 'Hyundai i10 Era',
       'Mahindra Logan Diesel', 'Chevrolet Enjoy 1.4', 'Chevrolet Enjoy',
       'Honda Accord'],
      dtype='object', length=219)

In [28]:
pd.get_dummies(X_train['name'].replace(name_counts_less_than_10,'name_uncommon'), drop_first=True)

,Honda City 1.5,Hyundai Elite i20,Hyundai Grand i10,Hyundai Santro Xing,Mahindra Scorpio S10,Maruti Suzuki Alto,Maruti Suzuki Dzire,Maruti Suzuki Ertiga,Maruti Suzuki Omni,Maruti Suzuki Swift,Maruti Suzuki Wagon,Maruti Suzuki Zen,Tata Indica V2,Tata Indigo eCS,Toyota Corolla Altis,name_uncommon
128,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
147,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
728,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
282,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
117,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
638,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
326,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
811,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [46]:
from sklearn.preprocessing import OneHotEncoder
#by default sparse matrix
ohe =OneHotEncoder()
X_train_new= ohe.fit_transform(X_train[['company','fuel_type']]).toarray()

In [51]:
ohe_1 =OneHotEncoder(drop='first', sparse=False)
X_train_new_1= ohe_1.fit_transform(X_train[['company','fuel_type']])

X_train_new_1

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [52]:
np.hstack((X_train[['name','kms_driven']].values,X_train_new_1))

array([['Honda City 1.5', 35000, 0.0, ..., 0.0, 0.0, 1.0],
       ['Hyundai Santro AE', 45000, 0.0, ..., 0.0, 0.0, 1.0],
       ['Ford EcoSport', 39000, 0.0, ..., 0.0, 0.0, 1.0],
       ...,
       ['Mahindra KUV100', 35000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai Elantra SX', 20000, 0.0, ..., 0.0, 0.0, 1.0],
       ['Maruti Suzuki Ritz', 50000, 0.0, ..., 0.0, 0.0, 1.0]],
      dtype=object)

In [63]:
X_train[['name']]

                       name
128          Honda City 1.5
682       Hyundai Santro AE
147           Ford EcoSport
728          Tata Indica V2
282  Ford EcoSport Titanium
..                      ...
686          Hyundai Santro
117     Maruti Suzuki Dzire
638         Mahindra KUV100
326      Hyundai Elantra SX
811      Maruti Suzuki Ritz

[652 rows x 1 columns]

In [62]:
X_train[['name']].shape

(652, 1)

In [65]:
X_train['name'].shape

(652,)

In [66]:
X_train[['name']].to_numpy()

array([['Honda City 1.5'],
       ['Hyundai Santro AE'],
       ['Ford EcoSport'],
       ['Tata Indica V2'],
       ['Ford EcoSport Titanium'],
       ['Honda Brio V'],
       ['Honda City'],
       ['Mahindra Jeep CL550'],
       ['Fiat Petra ELX'],
       ['Tata Manza ELAN'],
       ['Maruti Suzuki Omni'],
       ['Renault Duster 110'],
       ['Maruti Suzuki Swift'],
       ['Hyundai Elite i20'],
       ['Honda Amaze'],
       ['Hyundai Santro Xing'],
       ['Mahindra Scorpio S10'],
       ['Tata Manza Aura'],
       ['Toyota Corolla Altis'],
       ['Hyundai Eon D'],
       ['Mahindra Xylo E8'],
       ['Maruti Suzuki Alto'],
       ['Tata Zest XE'],
       ['Tata Venture EX'],
       ['Maruti Suzuki Alto'],
       ['Hyundai Verna 1.6'],
       ['Mahindra XUV500'],
       ['Maruti Suzuki Swift'],
       ['Hyundai Accent Executive'],
       ['Maruti Suzuki Ertiga'],
       ['Chevrolet Tavera LS'],
       ['Mercedes Benz B'],
       ['Audi A4 2.0'],
       ['Jaguar XE XE'],
       ['Mahindra Xylo E4'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Ritz'],
       ['Maruti Suzuki SX4'],
       ['Toyota Etios GD'],
       ['Honda Amaze 1.5'],
       ['Honda City 1.5'],
       ['Maruti Suzuki Versa'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Alto'],
       ['Maruti Suzuki Versa'],
       ['Mahindra Scorpio S10'],
       ['Toyota Innova 2.5'],
       ['Chevrolet Beat Diesel'],
       ['Maruti Suzuki Dzire'],
       ['Toyota Innova 2.5'],
       ['Maruti Suzuki Wagon'],
       ['Chevrolet Beat LS'],
       ['Hyundai Creta 1.6'],
       ['Mahindra XUV500 W8'],
       ['Skoda Laura'],
       ['Renault Kwid 1.0'],
       ['Toyota Innova 2.0'],
       ['Datsun Redi GO'],
       ['Maruti Suzuki Ertiga'],
       ['Chevrolet Beat Diesel'],
       ['Maruti Suzuki Alto'],
       ['Hyundai Accent'],
       ['Maruti Suzuki Alto'],
       ['Hindustan Motors Ambassador'],
       ['Maruti Suzuki Wagon'],
       ['Mahindra KUV100 K8'],
       ['Ford Ikon 1.6'],
       ['Toyota Fortuner 3.0'],
       ['Fiat Linea Emotion'],
       ['Mahindra KUV100'],
       ['Audi A6 2.0'],
       ['Hyundai Verna'],
       ['Chevrolet Sail 1.2'],
       ['Hyundai i20 Sportz'],
       ['Maruti Suzuki Wagon'],
       ['Toyota Etios GD'],
       ['Mahindra Scorpio S4'],
       ['Honda Amaze 1.5'],
       ['Tata Indica V2'],
       ['Audi Q7'],
       ['Audi A4 1.8'],
       ['Honda City 1.5'],
       ['Tata Indigo eCS'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Alto'],
       ['Maruti Suzuki Zen'],
       ['Hyundai i10 Magna'],
       ['Maruti Suzuki Wagon'],
       ['Hyundai Eon Magna'],
       ['Ford Fiesta SXi'],
       ['Jaguar XF 2.2'],
       ['Nissan Sunny'],
       ['Mahindra Xylo E4'],
       ['Maruti Suzuki Alto'],
       ['Hyundai Elite i20'],
       ['Maruti Suzuki Swift'],
       ['Hyundai i20 Magna'],
       ['Maruti Suzuki Dzire'],
       ['Maruti Suzuki A'],
       ['Honda Mobilio S'],
       ['Maruti Suzuki Wagon'],
       ['Chevrolet Spark LS'],
       ['Ford Figo Petrol'],
       ['Maruti Suzuki Ertiga'],
       ['Maruti Suzuki Wagon'],
       ['Toyota Corolla Altis'],
       ['Maruti Suzuki Swift'],
       ['Hyundai i10 Era'],
       ['Hyundai Santro AE'],
       ['Volkswagen Vento Konekt'],
       ['Mahindra TUV300 T4'],
       ['Tata Manza Aqua'],
       ['Maruti Suzuki Swift'],
       ['Hyundai i20 Asta'],
       ['BMW X1 xDrive20d'],
       ['Tata Indigo eCS'],
       ['Maruti Suzuki Wagon'],
       ['Honda City 1.5'],
       ['Maruti Suzuki Wagon'],
       ['Maruti Suzuki Zen'],
       ['Mahindra Scorpio S10'],
       ['Mahindra Jeep CL550'],
       ['Maruti Suzuki Estilo'],
       ['Maruti Suzuki Esteem'],
       ['Hyundai Elite i20'],
       ['Hyundai Elite i20'],
       ['Toyota Corolla Altis'],
       ['Maruti Suzuki Versa'],
       ['Hyundai Getz Prime'],
       ['Hyundai i20 Magna'],
       ['Hindustan Motors Ambassador'],
       ['Maruti Suzuki Alto'],
       ['Renault Kwid RXT'],
       ['Maruti Suzuki Alto'],
       ['Honda City 1.5'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Omni'],
       ['Hyundai Grand i10'],
       ['Mahindra Scorpio VLX'],
       ['Hyundai i20 Sportz'],
       ['Maruti Suzuki Wagon'],
       ['Hyundai Eon'],
       ['Tata Indica'],
       ['Toyota Corolla Altis'],
       ['Tata Indigo eCS'],
       ['Maruti Suzuki Wagon'],
       ['Mahindra XUV500 W6'],
       ['Hyundai Fluidic Verna'],
       ['Volkswagen Polo'],
       ['Toyota Etios Liva'],
       ['Volkswagen Vento Comfortline'],
       ['Maruti Suzuki Dzire'],
       ['Chevrolet Cruze LTZ'],
       ['Hyundai i10 Sportz'],
       ['Mahindra XUV500'],
       ['Maruti Suzuki Alto'],
       ['Mercedes Benz C'],
       ['Renault Duster 85'],
       ['Mahindra Scorpio VLX'],
       ['Hyundai i10'],
       ['Maruti Suzuki Swift'],
       ['Nissan Terrano XL'],
       ['Honda Amaze'],
       ['Skoda Fabia Classic'],
       ['Tata Indica V2'],
       ['Hyundai i20 Active'],
       ['Toyota Innova 2.5'],
       ['Maruti Suzuki Alto'],
       ['Maruti Suzuki Alto'],
       ['Skoda Rapid Elegance'],
       ['Chevrolet Beat LS'],
       ['Toyota Innova 2.5'],
       ['Maruti Suzuki Vitara'],
       ['Hyundai Elite i20'],
       ['Hyundai Verna 1.6'],
       ['Volkswagen Polo Trendline'],
       ['Jeep Wrangler Unlimited'],
       ['Hyundai Verna 1.6'],
       ['Chevrolet Enjoy'],
       ['Mahindra Quanto C8'],
       ['Mahindra XUV500'],
       ['Honda Amaze'],
       ['Tata Zest XE'],
       ['Maruti Suzuki Alto'],
       ['Volkswagen Jetta Comfortline'],
       ['Chevrolet Sail UVA'],
       ['Volkswagen Vento Konekt'],
       ['Maruti Suzuki Zen'],
       ['Datsun Redi GO'],
       ['Maruti Suzuki Alto'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki SX4'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Wagon'],
       ['Chevrolet Spark 1.0'],
       ['Ford EcoSport Ambiente'],
       ['Maruti Suzuki Swift'],
       ['Tata Sumo Gold'],
       ['Nissan Sunny XL'],
       ['Mahindra Scorpio SLX'],
       ['Renault Lodgy 85'],
       ['Hyundai Grand i10'],
       ['Hyundai i20 Active'],
       ['Hyundai Eon D'],
       ['Mitsubishi Pajero Sport'],
       ['Hyundai Verna Fluidic'],
       ['Maruti Suzuki Zen'],
       ['Chevrolet Beat LT'],
       ['Mahindra Bolero SLE'],
       ['Renault Duster 110'],
       ['Maruti Suzuki Alto'],
       ['Honda Amaze 1.2'],
       ['Ford Ikon 1.3'],
       ['Honda City'],
       ['Maruti Suzuki Ertiga'],
       ['Datsun Go Plus'],
       ['Renault Duster 85'],
       ['Maruti Suzuki Omni'],
       ['Maruti Suzuki Wagon'],
       ['Mahindra Scorpio SLE'],
       ['Toyota Etios Liva'],
       ['Honda City'],
       ['Chevrolet Cruze LTZ'],
       ['Tata Indigo eCS'],
       ['Hyundai Elite i20'],
       ['Hyundai Grand i10'],
       ['Mini Cooper S'],
       ['Maruti Suzuki Dzire'],
       ['Hyundai Creta'],
       ['Mahindra Quanto C8'],
       ['Toyota Fortuner'],
       ['Maruti Suzuki Wagon'],
       ['Skoda Octavia Classic'],
       ['Ford EcoSport Trend'],
       ['Hyundai Verna Transform'],
       ['Force Motors One'],
       ['Maruti Suzuki Zen'],
       ['Honda Mobilio'],
       ['Hyundai Santro Xing'],
       ['Hyundai Verna 1.6'],
       ['Chevrolet Tavera Neo'],
       ['Volkswagen Polo Comfortline'],
       ['Hyundai Santro Xing'],
       ['Toyota Corolla Altis'],
       ['Skoda Fabia 1.2L'],
       ['Renault Duster 85'],
       ['Maruti Suzuki Ertiga'],
       ['Chevrolet Tavera Neo'],
       ['Mahindra Bolero DI'],
       ['Mahindra TUV300 T8'],
       ['Hyundai i20 Active'],
       ['Maruti Suzuki Swift'],
       ['Ford EcoSport Ambiente'],
       ['Maruti Suzuki 800'],
       ['Hyundai i20 Sportz'],
       ['Mahindra Scorpio SLX'],
       ['Tata Indigo Marina'],
       ['Tata Indigo eCS'],
       ['Tata Zest Quadrajet'],
       ['Honda City'],
       ['Chevrolet Beat LT'],
       ['Renault Duster RxL'],
       ['Tata Manza'],
       ['Maruti Suzuki Alto'],
       ['Tata Nano Cx'],
       ['Maruti Suzuki Ertiga'],
       ['Mahindra KUV100 K8'],
       ['Hyundai Elite i20'],
       ['Maruti Suzuki Eeco'],
       ['Maruti Suzuki Swift'],
       ['Toyota Fortuner 3.0'],
       ['Maruti Suzuki Alto'],
       ['Hyundai Fluidic Verna'],
       ['Maruti Suzuki Zen'],
       ['Mahindra Jeep MM'],
       ['Chevrolet Enjoy 1.4'],
       ['Mercedes Benz C'],
       ['Volkswagen Polo Highline1.2L'],
       ['Renault Kwid RXT'],
       ['Maruti Suzuki Omni'],
       ['Renault Duster 110PS'],
       ['Datsun Redi GO'],
       ['Hyundai Santro Xing'],
       ['Maruti Suzuki Stingray'],
       ['Hyundai i20 Asta'],
       ['Hyundai Verna Fluidic'],
       ['Tata Sumo Gold'],
       ['Maruti Suzuki Wagon'],
       ['Toyota Innova 2.0'],
       ['Maruti Suzuki Alto'],
       ['Skoda Fabia 1.2L'],
       ['Honda Amaze'],
       ['Volkswagen Polo Highline1.2L'],
       ['Audi A3 Cabriolet'],
       ['Maruti Suzuki Swift'],
       ['Renault Scala RxL'],
       ['Mahindra Xylo D2'],
       ['Honda City'],
       ['Maruti Suzuki Swift'],
       ['Tata Indigo LX'],
       ['BMW 3 Series'],
       ['Tata Zest XE'],
       ['Maruti Suzuki Celerio'],
       ['Hyundai i20 Asta'],
       ['Tata Indigo eCS'],
       ['Ford EcoSport Titanium'],
       ['Hyundai Xcent SX'],
       ['Mahindra Scorpio S10'],
       ['Tata Indica V2'],
       ['Tata Indigo CS'],
       ['Toyota Corolla'],
       ['Volkswagen Polo'],
       ['Maruti Suzuki Baleno'],
       ['Maruti Suzuki Alto'],
       ['Honda City 1.5'],
       ['Mahindra Jeep CL550'],
       ['Maruti Suzuki Alto'],
       ['Mahindra Xylo E8'],
       ['Maruti Suzuki Alto'],
       ['Tata Indigo LS'],
       ['Tata Indigo CS'],
       ['Hyundai Eon Era'],
       ['Maruti Suzuki Alto'],
       ['Honda City 1.5'],
       ['Tata Sumo Gold'],
       ['Honda City'],
       ['Hyundai i20 Magna'],
       ['Maruti Suzuki Alto'],
       ['Hyundai Elite i20'],
       ['Ford EcoSport'],
       ['Maruti Suzuki Swift'],
       ['Hyundai Elite i20'],
       ['Hyundai Verna Fluidic'],
       ['Audi Q3 2.0'],
       ['Mahindra KUV100 K8'],
       ['Mahindra XUV500 W10'],
       ['Land Rover Freelander'],
       ['Maruti Suzuki Swift'],
       ['Tata Tigor Revotron'],
       ['Maruti Suzuki Maruti'],
       ['Skoda Fabia 1.2L'],
       ['Hyundai Eon'],
       ['Chevrolet Beat Diesel'],
       ['Mahindra Scorpio SLE'],
       ['Hyundai Santro Xing'],
       ['Maruti Suzuki Alto'],
       ['Tata Indigo CS'],
       ['BMW X1'],
       ['Maruti Suzuki S'],
       ['Honda City ZX'],
       ['Maruti Suzuki Ertiga'],
       ['Maruti Suzuki Swift'],
       ['Hyundai Verna 1.6'],
       ['Toyota Innova 2.5'],
       ['Hyundai i20 Magna'],
       ['Hyundai Creta 1.6'],
       ['Renault Duster 110PS'],
       ['Hyundai Elite i20'],
       ['Honda City SV'],
       ['Maruti Suzuki Ertiga'],
       ['Tata Tiago Revotron'],
       ['Maruti Suzuki Alto'],
       ['Maruti Suzuki Dzire'],
       ['Mini Cooper S'],
       ['Tata Indigo eCS'],
       ['Hyundai Santro Xing'],
       ['Maruti Suzuki Swift'],
       ['Honda Jazz VX'],
       ['Tata Indigo CS'],
       ['Renault Duster 110'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Ertiga'],
       ['Maruti Suzuki Vitara'],
       ['Hyundai i20 Sportz'],
       ['Renault Duster 110PS'],
       ['Volkswagen Jetta Highline'],
       ['Ford Figo'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Wagon'],
       ['Hyundai Grand i10'],
       ['Hyundai Creta 1.6'],
       ['Hyundai Grand i10'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Omni'],
       ['Mahindra Scorpio'],
       ['Tata Nano'],
       ['Mahindra Scorpio'],
       ['Honda Brio VX'],
       ['Tata Nano GenX'],
       ['Hyundai Eon D'],
       ['Ford EcoSport Titanium'],
       ['Honda City VX'],
       ['Hyundai Elantra 1.8'],
       ['Maruti Suzuki Stingray'],
       ['Hyundai i20 Magna'],
       ['Maruti Suzuki Wagon'],
       ['Tata Sumo Victa'],
       ['Maruti Suzuki Ciaz'],
       ['Mahindra TUV300 T4'],
       ['Ford Fiesta'],
       ['Tata Tiago Revotron'],
       ['Mahindra Thar CRDe'],
       ['Maruti Suzuki Dzire'],
       ['Chevrolet Beat LS'],
       ['Hyundai Grand i10'],
       ['Tata Indica V2'],
       ['Maruti Suzuki Swift'],
       ['Hyundai Santro Xing'],
       ['Mini Cooper S'],
       ['Honda Amaze 1.2'],
       ['Maruti Suzuki Wagon'],
       ['Maruti Suzuki Vitara'],
       ['Skoda Superb 1.8'],
       ['Datsun Redi GO'],
       ['Mitsubishi Pajero Sport'],
       ['Maruti Suzuki Dzire'],
       ['Honda Amaze'],
       ['Hyundai Eon Magna'],
       ['Toyota Etios Liva'],
       ['Honda City VX'],
       ['Maruti Suzuki Alto'],
       ['Maruti Suzuki Alto'],
       ['Maruti Suzuki Eeco'],
       ['Maruti Suzuki Alto'],
       ['Mitsubishi Pajero Sport'],
       ['Toyota Etios G'],
       ['Maruti Suzuki Alto'],
       ['Mercedes Benz GLA'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Ritz'],
       ['BMW 3 Series'],
       ['Renault Kwid'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Swift'],
       ['Hyundai Verna 1.4'],
       ['Hyundai Getz Prime'],
       ['Tata Tiago Revotorq'],
       ['Tata Indica V2'],
       ['Mitsubishi Pajero Sport'],
       ['Ford EcoSport Titanium'],
       ['Hyundai Xcent Base'],
       ['Audi A4 2.0'],
       ['Ford Fusion 1.4'],
       ['Toyota Corolla Altis'],
       ['Hyundai Eon Era'],
       ['Maruti Suzuki Wagon'],
       ['Maruti Suzuki Alto'],
       ['Renault Scala RxL'],
       ['Ford Figo Diesel'],
       ['Maruti Suzuki Swift'],
       ['Tata Sumo Gold'],
       ['Honda Brio'],
       ['Hindustan Motors Ambassador'],
       ['Force Motors Force'],
       ['Chevrolet Beat PS'],
       ['Tata Indica V2'],
       ['BMW X1 sDrive20d'],
       ['Maruti Suzuki Swift'],
       ['Honda Amaze'],
       ['Hyundai Grand i10'],
       ['Hyundai Verna Fluidic'],
       ['Maruti Suzuki Alto'],
       ['Renault Scala RxL'],
       ['Honda Accord'],
       ['Mahindra Scorpio VLX'],
       ['Toyota Etios'],
       ['Mahindra Scorpio S10'],
       ['Force Motors Force'],
       ['Mitsubishi Pajero Sport'],
       ['Maruti Suzuki Esteem'],
       ['Toyota Etios'],
       ['Maruti Suzuki Maruti'],
       ['Mahindra Quanto C8'],
       ['Volkswagen Polo Highline'],
       ['Hyundai i20 Sportz'],
       ['Toyota Corolla Altis'],
       ['Hyundai Verna Fluidic'],
       ['Tata Indigo CS'],
       ['Renault Duster 85'],
       ['Maruti Suzuki Ciaz'],
       ['Maruti Suzuki Omni'],
       ['Tata Zest XM'],
       ['Maruti Suzuki Maruti'],
       ['Maruti Suzuki 800'],
       ['Skoda Fabia'],
       ['Mahindra Scorpio 2.6'],
       ['Maruti Suzuki Swift'],
       ['Mahindra Scorpio S10'],
       ['Audi Q5 2.0'],
       ['Renault Duster'],
       ['Renault Duster 85'],
       ['Fiat Petra ELX'],
       ['Honda Amaze 1.2'],
       ['Maruti Suzuki Wagon'],
       ['Hyundai Getz GLE'],
       ['Tata Indica eV2'],
       ['Mini Cooper S'],
       ['Mahindra Scorpio 2.6'],
       ['Mahindra Bolero DI'],
       ['Maruti Suzuki Omni'],
       ['Mahindra Logan Diesel'],
       ['Hyundai Grand i10'],
       ['Mahindra Scorpio Vlx'],
       ['Mahindra Bolero Power'],
       ['Ford EcoSport Trend'],
       ['Honda City'],
       ['Hyundai Eon Sportz'],
       ['Maruti Suzuki Dzire'],
       ['Hyundai Getz Prime'],
       ['Nissan X Trail'],
       ['Mahindra Quanto C8'],
       ['Maruti Suzuki Swift'],
       ['Maruti Suzuki Baleno'],
       ['Mahindra Xylo D2'],
       ['Tata Sumo Gold'],
       ['Volkswagen Polo'],
       ['Renault Duster'],
       ['Maruti Suzuki Omni'],
       ['Hyundai i10 Magna'],
       ['Audi A4 2.0'],
       ['Maruti Suzuki Alto'],
       ['Mini Cooper S'],
       ['Fiat Punto Emotion'],
       ['Maruti Suzuki Alto'],
       ['Hyundai Elite i20'],
       ['Hyundai i10 Magna'],
       ['Mahindra Scorpio S4'],
       ['Maruti Suzuki Ritz'],
       ['Tata Indigo eCS'],
       ['Maruti Suzuki Zen'],
       ['Hyundai Grand i10'],
       ['Honda City'],
       ['Maruti Suzuki Wagon'],
       ['Hyundai Santro Xing'],
       ['Mercedes Benz C'],
       ['Mahindra Scorpio S10'],
       ['Mahindra Logan'],
       ['Hyundai Grand i10'],
       ['Hyundai Eon'],
       ['Maruti Suzuki Ritz'],
       ['Ford Figo Duratorq'],
       ['Tata Sumo Grande'],
       ['Maruti Suzuki Omni'],
       ['Chevrolet Spark'],
       ['Hyundai i10 Magna'],
       ['Tata Sumo Gold'],
       ['Maruti Suzuki Alto'],
       ['Maruti Suzuki Dzire'],
       ['Volkswagen Polo'],
       ['Mahindra Quanto C8'],
       ['Tata Zest XE'],
       ['Hyundai Verna VGT'],
       ['Tata Indigo eCS'],
       ['Mahindra Scorpio VLX'],
       ['Mahindra Bolero SLE'],
       ['Hyundai i10'],
       ['Maruti Suzuki Zen'],
       ['Maruti Suzuki Alto'],
       ['Maruti Suzuki Swift'],
       ['Mahindra TUV300 T4'],
       ['Maruti Suzuki SX4'],
       ['Maruti Suzuki Alto'],
       ['BMW 5 Series'],
       ['Honda City ZX'],
       ['Hyundai Santro Xing'],
       ['Honda WR V'],
       ['Mahindra XUV500 W8'],
       ['Mahindra XUV500 W8'],
       ['Honda City 1.5'],
       ['Volvo S80 Summum'],
       ['Tata Indica V2'],
       ['Hyundai i20 Asta'],
       ['Nissan Micra XV'],
       ['Maruti Suzuki Swift'],
       ['Mahindra Jeep MM'],
       ['Hyundai Elite i20'],
       ['Hyundai Elite i20'],
       ['Honda Amaze 1.5'],
       ['Maruti Suzuki Zen'],
       ['Toyota Etios Liva'],
       ['Hyundai Verna Fluidic'],
       ['Maruti Suzuki SX4'],
       ['Ford EcoSport Trend'],
       ['Renault Duster 85PS'],
       ['Hyundai i20 Select'],
       ['Maruti Suzuki Swift'],
       ['Hyundai i20 Asta'],
       ['Honda City'],
       ['Maruti Suzuki Vitara'],
       ['Tata Indica eV2'],
       ['Hyundai Eon'],
       ['Hyundai Getz'],
       ['Skoda Fabia Classic'],
       ['Maruti Suzuki Wagon'],
       ['Tata Indigo CS'],
       ['Honda City'],
       ['Mini Cooper S'],
       ['Skoda Fabia 1.2L'],
       ['Hyundai Fluidic Verna'],
       ['Maruti Suzuki Zen'],
       ['Hyundai Santro Xing'],
       ['Hyundai Grand i10'],
       ['Hyundai i10 Sportz'],
       ['Mahindra Jeep CL550'],
       ['Maruti Suzuki Wagon'],
       ['Maruti Suzuki Alto'],
       ['Honda City 1.5'],
       ['Honda Brio'],
       ['Tata Indigo eCS'],
       ['Maruti Suzuki Esteem'],
       ['Mahindra Bolero DI'],
       ['Maruti Suzuki Dzire'],
       ['Maruti Suzuki Dzire'],
       ['Ford EcoSport Titanium'],
       ['Mahindra Scorpio S10'],
       ['Maruti Suzuki Zen'],
       ['Toyota Fortuner 3.0'],
       ['Maruti Suzuki Wagon'],
       ['Volkswagen Vento Highline'],
       ['Hyundai Santro Xing'],
       ['Mahindra Quanto C4'],
       ['Hyundai Grand i10'],
       ['Mahindra Scorpio W'],
       ['Mahindra Scorpio 2.6'],
       ['Ford Figo'],
       ['Renault Duster'],
       ['Ford EcoSport Trend'],
       ['Hyundai Santro'],
       ['Maruti Suzuki Swift'],
       ['Force Motors Force'],
       ['Renault Duster'],
       ['Mitsubishi Lancer 1.8'],
       ['Chevrolet Beat LS'],
       ['Hyundai Santro Xing'],
       ['Mahindra Scorpio SLX'],
       ['Skoda Yeti Ambition'],
       ['Hyundai Accent GLE'],
       ['Hyundai Grand i10'],
       ['Skoda Laura'],
       ['Chevrolet Beat LS'],
       ['Honda City'],
       ['Mahindra XUV500 W8'],
       ['Mahindra XUV500 W6'],
       ['Maruti Suzuki Ertiga'],
       ['Chevrolet Spark LT'],
       ['Mahindra Scorpio LX'],
       ['Ford EcoSport Trend'],
       ['Hyundai Santro'],
       ['Maruti Suzuki Dzire'],
       ['Mahindra KUV100'],
       ['Hyundai Elantra SX'],
       ['Maruti Suzuki Ritz']], dtype=object)

In [61]:
X_train['name'].to_numpy()

array(['Honda City 1.5', 'Hyundai Santro AE', 'Ford EcoSport',
       'Tata Indica V2', 'Ford EcoSport Titanium', 'Honda Brio V',
       'Honda City', 'Mahindra Jeep CL550', 'Fiat Petra ELX',
       'Tata Manza ELAN', 'Maruti Suzuki Omni', 'Renault Duster 110',
       'Maruti Suzuki Swift', 'Hyundai Elite i20', 'Honda Amaze',
       'Hyundai Santro Xing', 'Mahindra Scorpio S10', 'Tata Manza Aura',
       'Toyota Corolla Altis', 'Hyundai Eon D', 'Mahindra Xylo E8',
       'Maruti Suzuki Alto', 'Tata Zest XE', 'Tata Venture EX',
       'Maruti Suzuki Alto', 'Hyundai Verna 1.6', 'Mahindra XUV500',
       'Maruti Suzuki Swift', 'Hyundai Accent Executive',
       'Maruti Suzuki Ertiga', 'Chevrolet Tavera LS', 'Mercedes Benz B',
       'Audi A4 2.0', 'Jaguar XE XE', 'Mahindra Xylo E4',
       'Maruti Suzuki Swift', 'Maruti Suzuki Ritz', 'Maruti Suzuki SX4',
       'Toyota Etios GD', 'Honda Amaze 1.5', 'Honda City 1.5',
       'Maruti Suzuki Versa', 'Maruti Suzuki Swift', 'Maruti Suzuki Alto',
       'Maruti Suzuki Versa', 'Mahindra Scorpio S10', 'Toyota Innova 2.5',
       'Chevrolet Beat Diesel', 'Maruti Suzuki Dzire',
       'Toyota Innova 2.5', 'Maruti Suzuki Wagon', 'Chevrolet Beat LS',
       'Hyundai Creta 1.6', 'Mahindra XUV500 W8', 'Skoda Laura',
       'Renault Kwid 1.0', 'Toyota Innova 2.0', 'Datsun Redi GO',
       'Maruti Suzuki Ertiga', 'Chevrolet Beat Diesel',
       'Maruti Suzuki Alto', 'Hyundai Accent', 'Maruti Suzuki Alto',
       'Hindustan Motors Ambassador', 'Maruti Suzuki Wagon',
       'Mahindra KUV100 K8', 'Ford Ikon 1.6', 'Toyota Fortuner 3.0',
       'Fiat Linea Emotion', 'Mahindra KUV100', 'Audi A6 2.0',
       'Hyundai Verna', 'Chevrolet Sail 1.2', 'Hyundai i20 Sportz',
       'Maruti Suzuki Wagon', 'Toyota Etios GD', 'Mahindra Scorpio S4',
       'Honda Amaze 1.5', 'Tata Indica V2', 'Audi Q7', 'Audi A4 1.8',
       'Honda City 1.5', 'Tata Indigo eCS', 'Maruti Suzuki Swift',
       'Maruti Suzuki Alto', 'Maruti Suzuki Zen', 'Hyundai i10 Magna',
       'Maruti Suzuki Wagon', 'Hyundai Eon Magna', 'Ford Fiesta SXi',
       'Jaguar XF 2.2', 'Nissan Sunny', 'Mahindra Xylo E4',
       'Maruti Suzuki Alto', 'Hyundai Elite i20', 'Maruti Suzuki Swift',
       'Hyundai i20 Magna', 'Maruti Suzuki Dzire', 'Maruti Suzuki A',
       'Honda Mobilio S', 'Maruti Suzuki Wagon', 'Chevrolet Spark LS',
       'Ford Figo Petrol', 'Maruti Suzuki Ertiga', 'Maruti Suzuki Wagon',
       'Toyota Corolla Altis', 'Maruti Suzuki Swift', 'Hyundai i10 Era',
       'Hyundai Santro AE', 'Volkswagen Vento Konekt',
       'Mahindra TUV300 T4', 'Tata Manza Aqua', 'Maruti Suzuki Swift',
       'Hyundai i20 Asta', 'BMW X1 xDrive20d', 'Tata Indigo eCS',
       'Maruti Suzuki Wagon', 'Honda City 1.5', 'Maruti Suzuki Wagon',
       'Maruti Suzuki Zen', 'Mahindra Scorpio S10', 'Mahindra Jeep CL550',
       'Maruti Suzuki Estilo', 'Maruti Suzuki Esteem',
       'Hyundai Elite i20', 'Hyundai Elite i20', 'Toyota Corolla Altis',
       'Maruti Suzuki Versa', 'Hyundai Getz Prime', 'Hyundai i20 Magna',
       'Hindustan Motors Ambassador', 'Maruti Suzuki Alto',
       'Renault Kwid RXT', 'Maruti Suzuki Alto', 'Honda City 1.5',
       'Maruti Suzuki Swift', 'Maruti Suzuki Omni', 'Hyundai Grand i10',
       'Mahindra Scorpio VLX', 'Hyundai i20 Sportz',
       'Maruti Suzuki Wagon', 'Hyundai Eon', 'Tata Indica',
       'Toyota Corolla Altis', 'Tata Indigo eCS', 'Maruti Suzuki Wagon',
       'Mahindra XUV500 W6', 'Hyundai Fluidic Verna', 'Volkswagen Polo',
       'Toyota Etios Liva', 'Volkswagen Vento Comfortline',
       'Maruti Suzuki Dzire', 'Chevrolet Cruze LTZ', 'Hyundai i10 Sportz',
       'Mahindra XUV500', 'Maruti Suzuki Alto', 'Mercedes Benz C',
       'Renault Duster 85', 'Mahindra Scorpio VLX', 'Hyundai i10',
       'Maruti Suzuki Swift', 'Nissan Terrano XL', 'Honda Amaze',
       'Skoda Fabia Classic', 'Tata Indica V2', 'Hyundai i20 Active',
       'Toyota Innova 2.5', 'Maruti Suzuki Alto', 'Maruti Suzuki Alto',
       'Skoda Rapid Elegance', 'Chevrolet Beat LS', 'Toyota Innova 2.5',
       'Maruti Suzuki Vitara', 'Hyundai Elite i20', 'Hyundai Verna 1.6',
       'Volkswagen Polo Trendline', 'Jeep Wrangler Unlimited',
       'Hyundai Verna 1.6', 'Chevrolet Enjoy', 'Mahindra Quanto C8',
       'Mahindra XUV500', 'Honda Amaze', 'Tata Zest XE',
       'Maruti Suzuki Alto', 'Volkswagen Jetta Comfortline',
       'Chevrolet Sail UVA', 'Volkswagen Vento Konekt',
       'Maruti Suzuki Zen', 'Datsun Redi GO', 'Maruti Suzuki Alto',
       'Maruti Suzuki Swift', 'Maruti Suzuki SX4', 'Maruti Suzuki Swift',
       'Maruti Suzuki Wagon', 'Chevrolet Spark 1.0',
       'Ford EcoSport Ambiente', 'Maruti Suzuki Swift', 'Tata Sumo Gold',
       'Nissan Sunny XL', 'Mahindra Scorpio SLX', 'Renault Lodgy 85',
       'Hyundai Grand i10', 'Hyundai i20 Active', 'Hyundai Eon D',
       'Mitsubishi Pajero Sport', 'Hyundai Verna Fluidic',
       'Maruti Suzuki Zen', 'Chevrolet Beat LT', 'Mahindra Bolero SLE',
       'Renault Duster 110', 'Maruti Suzuki Alto', 'Honda Amaze 1.2',
       'Ford Ikon 1.3', 'Honda City', 'Maruti Suzuki Ertiga',
       'Datsun Go Plus', 'Renault Duster 85', 'Maruti Suzuki Omni',
       'Maruti Suzuki Wagon', 'Mahindra Scorpio SLE', 'Toyota Etios Liva',
       'Honda City', 'Chevrolet Cruze LTZ', 'Tata Indigo eCS',
       'Hyundai Elite i20', 'Hyundai Grand i10', 'Mini Cooper S',
       'Maruti Suzuki Dzire', 'Hyundai Creta', 'Mahindra Quanto C8',
       'Toyota Fortuner', 'Maruti Suzuki Wagon', 'Skoda Octavia Classic',
       'Ford EcoSport Trend', 'Hyundai Verna Transform',
       'Force Motors One', 'Maruti Suzuki Zen', 'Honda Mobilio',
       'Hyundai Santro Xing', 'Hyundai Verna 1.6', 'Chevrolet Tavera Neo',
       'Volkswagen Polo Comfortline', 'Hyundai Santro Xing',
       'Toyota Corolla Altis', 'Skoda Fabia 1.2L', 'Renault Duster 85',
       'Maruti Suzuki Ertiga', 'Chevrolet Tavera Neo',
       'Mahindra Bolero DI', 'Mahindra TUV300 T8', 'Hyundai i20 Active',
       'Maruti Suzuki Swift', 'Ford EcoSport Ambiente',
       'Maruti Suzuki 800', 'Hyundai i20 Sportz', 'Mahindra Scorpio SLX',
       'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Zest Quadrajet',
       'Honda City', 'Chevrolet Beat LT', 'Renault Duster RxL',
       'Tata Manza', 'Maruti Suzuki Alto', 'Tata Nano Cx',
       'Maruti Suzuki Ertiga', 'Mahindra KUV100 K8', 'Hyundai Elite i20',
       'Maruti Suzuki Eeco', 'Maruti Suzuki Swift', 'Toyota Fortuner 3.0',
       'Maruti Suzuki Alto', 'Hyundai Fluidic Verna', 'Maruti Suzuki Zen',
       'Mahindra Jeep MM', 'Chevrolet Enjoy 1.4', 'Mercedes Benz C',
       'Volkswagen Polo Highline1.2L', 'Renault Kwid RXT',
       'Maruti Suzuki Omni', 'Renault Duster 110PS', 'Datsun Redi GO',
       'Hyundai Santro Xing', 'Maruti Suzuki Stingray',
       'Hyundai i20 Asta', 'Hyundai Verna Fluidic', 'Tata Sumo Gold',
       'Maruti Suzuki Wagon', 'Toyota Innova 2.0', 'Maruti Suzuki Alto',
       'Skoda Fabia 1.2L', 'Honda Amaze', 'Volkswagen Polo Highline1.2L',
       'Audi A3 Cabriolet', 'Maruti Suzuki Swift', 'Renault Scala RxL',
       'Mahindra Xylo D2', 'Honda City', 'Maruti Suzuki Swift',
       'Tata Indigo LX', 'BMW 3 Series', 'Tata Zest XE',
       'Maruti Suzuki Celerio', 'Hyundai i20 Asta', 'Tata Indigo eCS',
       'Ford EcoSport Titanium', 'Hyundai Xcent SX',
       'Mahindra Scorpio S10', 'Tata Indica V2', 'Tata Indigo CS',
       'Toyota Corolla', 'Volkswagen Polo', 'Maruti Suzuki Baleno',
       'Maruti Suzuki Alto', 'Honda City 1.5', 'Mahindra Jeep CL550',
       'Maruti Suzuki Alto', 'Mahindra Xylo E8', 'Maruti Suzuki Alto',
       'Tata Indigo LS', 'Tata Indigo CS', 'Hyundai Eon Era',
       'Maruti Suzuki Alto', 'Honda City 1.5', 'Tata Sumo Gold',
       'Honda City', 'Hyundai i20 Magna', 'Maruti Suzuki Alto',
       'Hyundai Elite i20', 'Ford EcoSport', 'Maruti Suzuki Swift',
       'Hyundai Elite i20', 'Hyundai Verna Fluidic', 'Audi Q3 2.0',
       'Mahindra KUV100 K8', 'Mahindra XUV500 W10',
       'Land Rover Freelander', 'Maruti Suzuki Swift',
       'Tata Tigor Revotron', 'Maruti Suzuki Maruti', 'Skoda Fabia 1.2L',
       'Hyundai Eon', 'Chevrolet Beat Diesel', 'Mahindra Scorpio SLE',
       'Hyundai Santro Xing', 'Maruti Suzuki Alto', 'Tata Indigo CS',
       'BMW X1', 'Maruti Suzuki S', 'Honda City ZX',
       'Maruti Suzuki Ertiga', 'Maruti Suzuki Swift', 'Hyundai Verna 1.6',
       'Toyota Innova 2.5', 'Hyundai i20 Magna', 'Hyundai Creta 1.6',
       'Renault Duster 110PS', 'Hyundai Elite i20', 'Honda City SV',
       'Maruti Suzuki Ertiga', 'Tata Tiago Revotron',
       'Maruti Suzuki Alto', 'Maruti Suzuki Dzire', 'Mini Cooper S',
       'Tata Indigo eCS', 'Hyundai Santro Xing', 'Maruti Suzuki Swift',
       'Honda Jazz VX', 'Tata Indigo CS', 'Renault Duster 110',
       'Maruti Suzuki Swift', 'Maruti Suzuki Ertiga',
       'Maruti Suzuki Vitara', 'Hyundai i20 Sportz',
       'Renault Duster 110PS', 'Volkswagen Jetta Highline', 'Ford Figo',
       'Maruti Suzuki Swift', 'Maruti Suzuki Wagon', 'Hyundai Grand i10',
       'Hyundai Creta 1.6', 'Hyundai Grand i10', 'Maruti Suzuki Swift',
       'Maruti Suzuki Omni', 'Mahindra Scorpio', 'Tata Nano',
       'Mahindra Scorpio', 'Honda Brio VX', 'Tata Nano GenX',
       'Hyundai Eon D', 'Ford EcoSport Titanium', 'Honda City VX',
       'Hyundai Elantra 1.8', 'Maruti Suzuki Stingray',
       'Hyundai i20 Magna', 'Maruti Suzuki Wagon', 'Tata Sumo Victa',
       'Maruti Suzuki Ciaz', 'Mahindra TUV300 T4', 'Ford Fiesta',
       'Tata Tiago Revotron', 'Mahindra Thar CRDe', 'Maruti Suzuki Dzire',
       'Chevrolet Beat LS', 'Hyundai Grand i10', 'Tata Indica V2',
       'Maruti Suzuki Swift', 'Hyundai Santro Xing', 'Mini Cooper S',
       'Honda Amaze 1.2', 'Maruti Suzuki Wagon', 'Maruti Suzuki Vitara',
       'Skoda Superb 1.8', 'Datsun Redi GO', 'Mitsubishi Pajero Sport',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Hyundai Eon Magna',
       'Toyota Etios Liva', 'Honda City VX', 'Maruti Suzuki Alto',
       'Maruti Suzuki Alto', 'Maruti Suzuki Eeco', 'Maruti Suzuki Alto',
       'Mitsubishi Pajero Sport', 'Toyota Etios G', 'Maruti Suzuki Alto',
       'Mercedes Benz GLA', 'Maruti Suzuki Swift', 'Maruti Suzuki Ritz',
       'BMW 3 Series', 'Renault Kwid', 'Maruti Suzuki Swift',
       'Maruti Suzuki Swift', 'Hyundai Verna 1.4', 'Hyundai Getz Prime',
       'Tata Tiago Revotorq', 'Tata Indica V2', 'Mitsubishi Pajero Sport',
       'Ford EcoSport Titanium', 'Hyundai Xcent Base', 'Audi A4 2.0',
       'Ford Fusion 1.4', 'Toyota Corolla Altis', 'Hyundai Eon Era',
       'Maruti Suzuki Wagon', 'Maruti Suzuki Alto', 'Renault Scala RxL',
       'Ford Figo Diesel', 'Maruti Suzuki Swift', 'Tata Sumo Gold',
       'Honda Brio', 'Hindustan Motors Ambassador', 'Force Motors Force',
       'Chevrolet Beat PS', 'Tata Indica V2', 'BMW X1 sDrive20d',
       'Maruti Suzuki Swift', 'Honda Amaze', 'Hyundai Grand i10',
       'Hyundai Verna Fluidic', 'Maruti Suzuki Alto', 'Renault Scala RxL',
       'Honda Accord', 'Mahindra Scorpio VLX', 'Toyota Etios',
       'Mahindra Scorpio S10', 'Force Motors Force',
       'Mitsubishi Pajero Sport', 'Maruti Suzuki Esteem', 'Toyota Etios',
       'Maruti Suzuki Maruti', 'Mahindra Quanto C8',
       'Volkswagen Polo Highline', 'Hyundai i20 Sportz',
       'Toyota Corolla Altis', 'Hyundai Verna Fluidic', 'Tata Indigo CS',
       'Renault Duster 85', 'Maruti Suzuki Ciaz', 'Maruti Suzuki Omni',
       'Tata Zest XM', 'Maruti Suzuki Maruti', 'Maruti Suzuki 800',
       'Skoda Fabia', 'Mahindra Scorpio 2.6', 'Maruti Suzuki Swift',
       'Mahindra Scorpio S10', 'Audi Q5 2.0', 'Renault Duster',
       'Renault Duster 85', 'Fiat Petra ELX', 'Honda Amaze 1.2',
       'Maruti Suzuki Wagon', 'Hyundai Getz GLE', 'Tata Indica eV2',
       'Mini Cooper S', 'Mahindra Scorpio 2.6', 'Mahindra Bolero DI',
       'Maruti Suzuki Omni', 'Mahindra Logan Diesel', 'Hyundai Grand i10',
       'Mahindra Scorpio Vlx', 'Mahindra Bolero Power',
       'Ford EcoSport Trend', 'Honda City', 'Hyundai Eon Sportz',
       'Maruti Suzuki Dzire', 'Hyundai Getz Prime', 'Nissan X Trail',
       'Mahindra Quanto C8', 'Maruti Suzuki Swift',
       'Maruti Suzuki Baleno', 'Mahindra Xylo D2', 'Tata Sumo Gold',
       'Volkswagen Polo', 'Renault Duster', 'Maruti Suzuki Omni',
       'Hyundai i10 Magna', 'Audi A4 2.0', 'Maruti Suzuki Alto',
       'Mini Cooper S', 'Fiat Punto Emotion', 'Maruti Suzuki Alto',
       'Hyundai Elite i20', 'Hyundai i10 Magna', 'Mahindra Scorpio S4',
       'Maruti Suzuki Ritz', 'Tata Indigo eCS', 'Maruti Suzuki Zen',
       'Hyundai Grand i10', 'Honda City', 'Maruti Suzuki Wagon',
       'Hyundai Santro Xing', 'Mercedes Benz C', 'Mahindra Scorpio S10',
       'Mahindra Logan', 'Hyundai Grand i10', 'Hyundai Eon',
       'Maruti Suzuki Ritz', 'Ford Figo Duratorq', 'Tata Sumo Grande',
       'Maruti Suzuki Omni', 'Chevrolet Spark', 'Hyundai i10 Magna',
       'Tata Sumo Gold', 'Maruti Suzuki Alto', 'Maruti Suzuki Dzire',
       'Volkswagen Polo', 'Mahindra Quanto C8', 'Tata Zest XE',
       'Hyundai Verna VGT', 'Tata Indigo eCS', 'Mahindra Scorpio VLX',
       'Mahindra Bolero SLE', 'Hyundai i10', 'Maruti Suzuki Zen',
       'Maruti Suzuki Alto', 'Maruti Suzuki Swift', 'Mahindra TUV300 T4',
       'Maruti Suzuki SX4', 'Maruti Suzuki Alto', 'BMW 5 Series',
       'Honda City ZX', 'Hyundai Santro Xing', 'Honda WR V',
       'Mahindra XUV500 W8', 'Mahindra XUV500 W8', 'Honda City 1.5',
       'Volvo S80 Summum', 'Tata Indica V2', 'Hyundai i20 Asta',
       'Nissan Micra XV', 'Maruti Suzuki Swift', 'Mahindra Jeep MM',
       'Hyundai Elite i20', 'Hyundai Elite i20', 'Honda Amaze 1.5',
       'Maruti Suzuki Zen', 'Toyota Etios Liva', 'Hyundai Verna Fluidic',
       'Maruti Suzuki SX4', 'Ford EcoSport Trend', 'Renault Duster 85PS',
       'Hyundai i20 Select', 'Maruti Suzuki Swift', 'Hyundai i20 Asta',
       'Honda City', 'Maruti Suzuki Vitara', 'Tata Indica eV2',
       'Hyundai Eon', 'Hyundai Getz', 'Skoda Fabia Classic',
       'Maruti Suzuki Wagon', 'Tata Indigo CS', 'Honda City',
       'Mini Cooper S', 'Skoda Fabia 1.2L', 'Hyundai Fluidic Verna',
       'Maruti Suzuki Zen', 'Hyundai Santro Xing', 'Hyundai Grand i10',
       'Hyundai i10 Sportz', 'Mahindra Jeep CL550', 'Maruti Suzuki Wagon',
       'Maruti Suzuki Alto', 'Honda City 1.5', 'Honda Brio',
       'Tata Indigo eCS', 'Maruti Suzuki Esteem', 'Mahindra Bolero DI',
       'Maruti Suzuki Dzire', 'Maruti Suzuki Dzire',
       'Ford EcoSport Titanium', 'Mahindra Scorpio S10',
       'Maruti Suzuki Zen', 'Toyota Fortuner 3.0', 'Maruti Suzuki Wagon',
       'Volkswagen Vento Highline', 'Hyundai Santro Xing',
       'Mahindra Quanto C4', 'Hyundai Grand i10', 'Mahindra Scorpio W',
       'Mahindra Scorpio 2.6', 'Ford Figo', 'Renault Duster',
       'Ford EcoSport Trend', 'Hyundai Santro', 'Maruti Suzuki Swift',
       'Force Motors Force', 'Renault Duster', 'Mitsubishi Lancer 1.8',
       'Chevrolet Beat LS', 'Hyundai Santro Xing', 'Mahindra Scorpio SLX',
       'Skoda Yeti Ambition', 'Hyundai Accent GLE', 'Hyundai Grand i10',
       'Skoda Laura', 'Chevrolet Beat LS', 'Honda City',
       'Mahindra XUV500 W8', 'Mahindra XUV500 W6', 'Maruti Suzuki Ertiga',
       'Chevrolet Spark LT', 'Mahindra Scorpio LX', 'Ford EcoSport Trend',
       'Hyundai Santro', 'Maruti Suzuki Dzire', 'Mahindra KUV100',
       'Hyundai Elantra SX', 'Maruti Suzuki Ritz'], dtype=object)

ColumnTransformer

In [67]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['somemean']),
    ('tnf2', OrdinalEncoder(categories=[['mild','strong']]),['cough']),
    ('tnf3', OneHotEncoder(drop='first',sparse=False),['name'])
], remainder='passthrough')

transformer.fit_transform(X_train)